@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/fonts/fonts.scss";

.login-dialog {
  width: 100%;
  max-width: 650px;
  height: 450px;
  border-radius: 30px;
  padding: 0 120px;
  @include dFlex($gap: 36px);
  flex-direction: column;
  background-color: white;

  .title-wrapper {
    @include dFlex();
    flex-direction: column;

    .login-underline {
      width: 75%;
      height: 1px;
      border: 1px solid $col-ref-highlight;
      margin-top: 16px;
    }
  }
}

.form-login {
  width: 100%;
  max-width: 440px;
  @include dFlex($gap: 32px);
  flex-direction: column;

  .mail-input-wrapper,
  .password-input-wrapper {
    display: flex;
    position: relative;
    width: 100%;

    .icon {
      position: absolute;
      right: 20px;
      top: 12px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      border: 1px solid $col-font-grey;
      border-radius: 10px;
      padding: 12px 50px 12px 20px;
      color: $col-bg-secondary;
      resize: none;
      font-family: "Inter", sans-serif;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: $col-font-inactive;
      }

      &::placeholder {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        color: $col-font-inactive;
        opacity: 1;
      }

      &.ng-invalid.ng-touched {
        border-color: #e44c36 !important;
      }
    }
  }

  .error-message {
    margin-top: -25px;
    color: #e44c36;
    font-size: 12px;
  }
}

.login-button-wrapper {
  @include dFlex($gap: 36px);

  .login-button,
  .guest-button {
    @include dFlex($jc: space-between, $gap: 4px);
    font-size: 21px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 10px;
  }

  .guest-button {
    background-color: $col-bg-main;
    border: 1px solid $col-bg-secondary;

    &:hover {
      border-color: $col-ref-highlight;
      color: $col-ref-highlight;
      filter: drop-shadow(2px 4px 4px #a8a8a8);
    }
  }

  .login-button {
    background-color: $col-bg-secondary;
    color: white;
    white-space: nowrap;

    &:hover {
      background-color: $col-ref-highlight;
      filter: drop-shadow(2px 4px 4px #a8a8a8);
    }

    &:disabled {
      pointer-events: none;
      background-color: $col-font-inactive;
    }
  }
}

@media screen and (max-width: 700px) {
  .login-dialog {
    width: 400px;
    height: 475px;
    padding: 0 16px;
  }

  .form-login {
    max-width: 360px;
  }
}

@media screen and (max-width: 440px) {
  .login-dialog {
    width: 100%;
    max-height: 475px;
    height: auto;
    padding: 16px;
  }

  .login-button-wrapper {
    flex-direction: column;
    gap: 10px;
    margin: 4vh 0;

    .login-button,
    .guest-button {
      width: 180px;
      height: 40px;
      font-size: 16px;
      justify-content: center;
    }
  }

  .form-login {
    gap: 6px !important;
  }
}

@media screen and (max-width: 360px) {
  .login-dialog {
    padding: 8px;
  }
}
