<section
  class="section-privacy-policy"
  aria-labelledby="privacy-policy-title"
>
  <h2 id="privacy-policy-title">
    Privacy Policy
  </h2>

  <div class="paragraph">
    <h4>
      1. Data Controller
    </h4>

    <p>
      PaFunzFr<br />
      [Your Address]<br />
      [Your Email Address]<br />
      [Your Phone Number]
    </p>
  </div>

  <div class="paragraph">
    <h4>
      2. Collection and Processing of Personal Data
    </h4>

    <p>
      This website does not actively collect personal data unless you
      voluntarily provide it. However, your browser may automatically transmit
      data such as:
    </p>

    <ul>
      <li>
        IP address
      </li>
      <li>
        Browser type and version
      </li>
      <li>
        Operating system
      </li>
      <li>
        Referrer URL
      </li>
      <li>
        Date and time of the request
      </li>
    </ul>

    <p>
      These data are used solely for technical purposes to ensure the stable
      operation of the website and are not linked to specific individuals.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      3. Hosting via GitHub Pages
    </h4>

    <p>
      This site is hosted using GitHub Pages, a service by GitHub, Inc., based
      in the United States. Please note that the transfer of data to the USA may
      not offer the same level of protection as in the UK or EU. GitHub has
      committed to data protection through the use of Standard Contractual
      Clauses and other mechanisms. For more information, please see GitHub’s
      Privacy Statement.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      4. Cookies
    </h4>

    <p>
      This website does not use cookies or tracking technologies.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      5. Your Rights
    </h4>

    <p>
      Under data protection law, you have the right to:
    </p>

    <ul>
      <li>
        Access your data
      </li>
      <li>
        Request rectification or erasure
      </li>
      <li>
        Restrict processing
      </li>
      <li>
        Object to processing
      </li>
      <li>
        Lodge a complaint with a supervisory authority
      </li>
    </ul>

    <p>
      To exercise any of these rights, please contact us using the details
      provided above.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      6. Changes to This Privacy Policy
    </h4>

    <p>
      We reserve the right to amend this Privacy Policy to reflect legal or
      technical changes. The most current version will always be available on
      this page. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque odio felis, iaculis ut massa eget, ornare lacinia urna. In
      dignissim justo eu velit sagittis, in scelerisque nulla convallis.
      Vestibulum eros lorem, sollicitudin eget eros non, varius aliquam mauris.
      Sed turpis ipsum, condimentum quis nulla at, lobortis facilisis ipsum.
      Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor
      dignissim luctus. Mauris ornare ipsum at ultrices eleifend. Praesent
      tempus congue magna. Quisque libero erat, pharetra a neque et, imperdiet
      semper justo.
    </p>
  </div>
</section>
