<section class="start-animation">
    <div class="background-animated" [style.backgroundColor]="loginBackgroundColor"></div>
    <img
        [src]="loginLogoImgSrc"
        class="logo-animated"
        [class.animate]="startAnimationTrigger"
        alt="Join logo"
    />
</section>

<main class="wrapper-max-width">
  <!-- Dynamically render either login or sign-up dialog -->
  @if (!showSignUpDialog) {
      <app-login-dialog />
  } @else {
      <app-sign-up-dialog (closeDialog)="toLogin()" (signUpSuccess)="onSignUpSuccess()" />
  }

  @if (!showSignUpDialog) {
      <section class="login-header">
          <p>Not a Join User?</p>
          <button class="signup-btn" type="button" (click)="toSignUpDialog(); $event.stopPropagation()">Sign up</button>
      </section>
  }

  <section class="login-footer">
      <button (click)="toPrivacyPolicy()">
        Privacy policy
      </button>
      <button (click)="toLegalNotice()">
        Legal notice
      </button>
  </section>

</main> 