<section 
  class="summary-main"
  aria-labelledby="summary-heading"
>
  @if (showWelcome) {
  <aside 
    class="summary-welcome-mobil" 
    [ngClass]="{ 
      'fade-in': signalService.signingIn(), 
      'fade-out': fadeOutWelcome 
    }"
    role="status"
    aria-live="polite"
  >
    <h4 class="timeText">
      <span class="greeting">{{ textChangeTime() }}</span>
      @if (authService.activeUserName !== 'G U') {
      <span class="comma">,</span><br>
      <span class="user-name">{{ authService.activeUserName }}</span>
      } @else {
      <span class="comma">!</span><br>
      }
    </h4>
  </aside>
  } @else {
  <div class="summary-header">
    <h1 id="summary-heading">
      Join 360
    </h1>
    <span class="v-line"></span>
    <h4>
      Key Metrics at a Glance
    </h4>
    <span class="h-line"></span>
  </div>
  <section class="summary-section fade-in-delayed">
    <article class="summary-wrapper">
      <section class="summary-row">
        @for (card of taskOverviewTop; track card; let i = $index) {
        <div
          class="summary-btn"
          [ngClass]="{
            'transform-left': i === 0,
            'transform-right': i === 1
          }"
          role="button"
          tabindex="0"
          (click)="toBoard()"
          (keydown)="onSummaryButtonKeydown($event)"
          (mouseenter)="card.isHovered = true"
          (mouseleave)="card.isHovered = false;"
        >
          <span class="sum-icon">
            <img
              [src]="card.isHovered ? card.iconHovered: card.icon"
              alt="icon edit"
            >
            <div class="task-count">
              <h5>{{ tasksService.tasksByType(card.type) }}</h5>
              <p>{{ card.text }}</p>
            </div>
          </span>
        </div>
        }
      </section>
      <section class="summary-row">
        <div
          class="summary-btn transform-bottom"
          role="button"
          tabindex="0"
          (click)="toBoard()"
          (keydown)="onSummaryButtonKeydown($event)"
        >
          <div class="summary-middle-box">
            <div class="left-half-summary-box">
              <img
                src="./assets/icons/kanban/prio_urgent_white.svg"
                alt="urgent tasks"
                [style.backgroundColor]="'#FF3D00'"
              >
              <div class="task-count">
                <h5>{{ urgentTasksCount() }}</h5>
                <p>Urgent</p>
              </div>
            </div>
            <div class="v-line-white"></div>
            <div class="right-half-summary-box">
              <p class="date-text">{{ today }}</p>
              <p>Upcoming Deadline</p>
            </div>
          </div>
        </div>
      </section>
      <section class="summary-row">
        @for (category of taskOverviewBottom; track category;let i = $index) {
        <div
          class="summary-btn"
          [ngClass]="{
            'transform-left': i === 0,
            'transform-center': i === 1,
            'transform-right': i === 2
          }"
          role="button"
          tabindex="0"
          (click)="toBoard()"
          (keydown)="onSummaryButtonKeydown($event)"
        >
          <div class="task-count">
            @if (i === 0) {
            <h5>{{ tasksService.tasksCount() }}</h5>
            }
            @if (i === 1) {
            <h5>{{ tasksService.tasksByType('inProgress') }}</h5>
            }
            @if (i === 2) {
            <h5>{{ tasksService.tasksByType('feedback') }}</h5>
            }
            <p [innerHTML]="category.text"></p>
          </div>
        </div>
        }
      </section>
    </article>
    <aside class="summary-welcome">
      <h4 class="timeText">
        <span class="greeting">{{ textChangeTime() }}</span>
        @if (authService.activeUserName !== 'G U') {
        <span class="comma">,</span><br />
        <span class="user-name">{{ authService.activeUserName }}</span>
        } @else {
        <span class="comma">!</span><br />
        }
      </h4>
    </aside>
  </section>
  }
</section>
