@import "../../../assets/styles/mixins.scss";

/** ----------DESKTOP---------- **/
.navbar-section-desktop {
  @include dFlex(flex-start, center);
  flex-direction: column;
  width: $navbar-width;
  height: 100dvh;
  background-color: $col-bg-secondary;

  .navbar-icon-container,
  .navbar-components-container,
  .privacy-and-legal-container  {
    max-height: 360px;
  }
  
  .navbar-icon-container {
    @include dFlex(center, center);
    cursor: pointer;
    width: 100%;
    height: 25%;
    margin: 0;

    .image {
      width: 100px !important;
      height: auto;
      object-fit: contain;
    }
  }

  .navbar-components-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
    height: 50%;

    .links-alignement {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
    }
  }

  .privacy-and-legal-container {
    @include dFlex(center, center);
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 25%;

    .privacy-policy-background-container,
    .legal-notice-background-container {
      width: $navbar-width;
      height: 48px;
      display: flex;
      justify-content: center;
      padding-left: 25%;
      padding-right: 10%;
      transition: background-color 0.3s ease;

      &.active {
        background-color: $col-ref-active-nav;

        .link-container p {
          color: $col-font-dropdown;
          width: 100%;
        }
      }
    }

    .link-container {
      @include dFlex(flex-start, center);
      width: $navbar-width;
      height: auto;
      cursor: pointer;

      p {
        width: 100%;
        text-decoration: none;
        color: $col-font-dropdown;
        font-size: 1rem;
        opacity: 0.7;
        transition: color 0.2s ease, opacity 0.2s ease;

        &:hover {
          color: $col-ref-highlight;
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }
}

/** ----------MOBILE---------- **/
.navbar-section-mobile {
  display: none;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $col-bg-secondary;
  padding: 2px 20px;
  z-index: 100;
}

.navbar-mobile-components-container {
  width: 100%;
}

.links-mobile-alignement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.privacy-and-legal-mobile {
  @include dFlex(center, center);
  width: 20%;
  gap: 1rem;

  .privacy-policy-background-container,
  .legal-notice-background-container {
    transition: background-color 0.3s ease;
    padding: 1rem;
    width: 150px;
    justify-content: center;

    &.active {
      display: flex;
      align-items: center;
      background-color: $col-ref-active-nav;
      border-radius: 8px;
      height: 76px;

      .link-container p {
        color: $col-font-secondary;
      }
    }

    .link-container {
      @include dFlex(center, center);
      gap: 2px;
      height: auto;
      cursor: pointer;

      p {
        text-decoration: none;
        color: $col-font-dropdown;
        font-size: 1rem;
        opacity: 0.7;
        transition: color 0.3s ease, opacity 0.2s ease;
      }

      &:hover p {
        opacity: 1;
      }
    }
  }
}

/** ----------RESPONSIVENESS---------- **/

@media (max-width: 1400px) {
  .navbar-section-desktop {
    display: none;
  }

  .navbar-section-mobile {
    display: flex;
  }

  .navbar-links-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .privacy-and-legal-mobile {
    @include dFlex(flex-end, center);
    width: 100%;
    height: 76px;
    gap: 0;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .navbar-links-mobile {
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .navbar-section-mobile {
    padding: 0;
  }
}
