<section
  class="section-legal-notice"
  aria-labelledby="legal-notice-title"
>
  <h2 id="legal-notice-title">
    Legal Notice
  </h2>

  <div class="paragraph">
    <h3 class="imprint">
      Imprint
    </h3>

    <div class="name-and-adresses">
      <div
        class="name-developers"
        aria-label="Contributing students"
      >
        -&nbsp;<a href="https://github.com/PaFunzFr/DA_Join/commits?author=JozArtworks">Jonathan, &nbsp;</a>
        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=PaFunzFr">Patrick, &nbsp;</a>
        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=StephEngl">Stephanie &nbsp; & &nbsp;</a>
        <a href="https://github.com/PaFunzFr/DA_Join/commits?author=TerrorDackel">Jennifer</a><br />
      </div>
      <div class="paragraph-developer-akademie">
        <a
          href="https://developerakademie.com/?utm_term&utm_campaign=P2%20Remarketing&utm_source=adwords&utm_medium=ppc&hsa_acc=3199679202&hsa_cam=21723291756&hsa_grp&hsa_ad&hsa_src=x&hsa_tgt&hsa_kw&hsa_mt&hsa_net=adwords&hsa_ver=3&gad_source=1&gad_campaignid=21723297747&gbraid=0AAAAADgFy8MIOVczv3clTHUw0PJGa_klO&gclid=Cj0KCQjww-HABhCGARIsALLO6Xy2lO7VmHJk8KoDQFqVMwtoyUuu7apECoPanAYOu-lMYZ_WA9C7vN0aAqIgEALw_wcB"
        >
          Developer Akademie GmbH<br />Tassiloplatz 25<br />81541 München
        </a><br />
      </div>
    </div>
  </div>

  <div class="paragraph">
    <h4>
      Exploring the Board
    </h4>

    <p>
      Email:
      <a href="mailto:join2@muell.monster">join2&#64;muell.monster</a>
    </p>
  </div>

  <div class="paragraph">
    <h4>
      Acceptance of terms
    </h4>

    <p>
      By accessing and using <span>Join</span> (Product), you acknowledge and
      agree to the following terms and conditions, and any policies, guidelines,
      or amendments thereto that may be presented to you from time to time. We,
      the listed students, may update or change the terms and conditions from
      time to time without notice.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      Scope and ownership of the product
    </h4>

    <p>
      <span>Join</span> has been developed as part of a student group project in
      a web development bootcamp at the <span>Akademie GmbH</span>. It has an
      educational purpose and is not intended for extensive personal & business
      usage. As such, we cannot guarantee consistent availability, reliability,
      accuracy, or any other aspect of quality regarding this Product.<br /><br />
      The design of Join is owned by the Developer Akademie GmbH. Unauthorized
      use, reproduction, modification, distribution, or replication of the
      design is strictly prohibited.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      Proprietary rights
    </h4>

    <p>
      Aside from the design owned by <span>Akademie GmbH</span>, we, the listed
      students, retain all proprietary rights in <span>Join</span>, including
      any associated copyrighted material, trademarks, and other proprietary
      information.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      Use of the product
    </h4>

    <p>
      <span>Join</span> is intended to be used for lawful purposes only, in
      accordance with all applicable laws and regulations. Any use of
      <span>Join</span> for illegal activities, or to harass, harm, threaten, or
      intimidate another person, is strictly prohibited. You are solely
      responsible for your interactions with other users of <span>Join</span>.
    </p>
  </div>

  <div class="paragraph">
    <h4>
      Disclaimer of warranties and limitation of liability
    </h4>

    <p>
      <span>Join</span> is provided "as is" without warranty of any kind,
      whether express or implied, including but not limited to the implied
      warranties of merchantability, fitness for a particular purpose, and
      non-infringement. In no event will we, the listed students, or the
      <span>Akademie GmbH</span>, be liable for any direct, indirect,
      incidental, special, consequential or exemplary damages, including but not
      limited to, damages for loss of profits, goodwill, use, data, or other
      intangible losses, even if we have been advised of the possibility of such
      damages, arising out of or in connection with the use or performance of
      <span>Join</span>.
    </p>
  </div>
</section>
